* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1350px;
  position: relative;
}
.container {
  padding: 100px;
}
li,a{
    text-decoration: none;
    list-style: none;
}