.app{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    height: auto;
    form{
        display: flex;
        justify-content: center;
        gap: 15px;
        align-items: center;
        position: static;
        #input{
            width: 250px;
            height: 30px;
            border: 0;
            border-radius: 10px;
            
            
        }
        .btn{
            width: 40px;
            height: 40px;
            border: 0;
            border-radius: 20px;
            background-color: rgb(186, 202, 202);
            font-size: x-large;
            font-weight: 900;
            color: azure;
        }
    }
    .tasks{
        border: 2px solid rgb(58, 44, 44);
        border-radius: 10px;
        padding: 10px 10px;
        width: 400px;
    min-height: 100px;
    background-color: rgb(105, 93, 60);
    >div{
        
      display: flex;
      align-items: center;
      
      border: 1px solid beige;
      border-radius: 10px;
      justify-content: space-between;
      p{
        color: azure;
        font-size: small;
        font-weight: 300;
        letter-spacing: 1px;
        padding-left: 10px;

      }
     div{
        background-color: rgb(112, 166, 170);
        padding: 5px;
        border-radius: 10px;
        display: flex;
        gap: 5px;
        button{
            background-color: rgb(24, 189, 79);
            color: aliceblue;
            width: 50px;
            height: 25px;
            border: 1px solid;
            border-radius: 7px;
            font-weight: 600;
            
        }
     }
    }
    }
 }
