body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.form{
    width: 90%;
    height: 100vh;
    display: flex;

}
.left{
    background-color: rgb(45, 187, 76);
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100vh;
    width: 40vw;
    align-items: center;
    justify-content: center;
    p{
        letter-spacing: 2px;
        line-height: 20px;
        width: 350px;
    

    }
}

.right{
    width:40vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    .icon{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        div{
            border: 1px solid;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            display: flex;
            font-size: large;
            font-weight: 1000;
            align-items: center;
            justify-content: center;

        }
    }
    
    table{
        display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            justify-content: center;
        tr{
            
            td{
                
                background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScnjNXc7n4DKX3ToDK7Ws4SzaEmOFDwBnbSA&usqp=CAU);
                background-size: 10px;
                background-position: left;
                background-repeat: no-repeat;
                input{
                    border-radius: 5px;
                    border: 0px;
                    background-color: rgb(236, 231, 231);
                    width: 20vw;
                    height: 30px;
                    margin-top: 20px;
                }
            }
        }
    }

}
