header{
    .hero{
        font: 1.5em sans-serif;
        font-weight: 500;
    }
    nav{
        a{
            font: 0.9em sans-serif;
            color: black;
            opacity: 0.1;
            font-weight: 700;
        }
    }
}