main {
    .section_bigcard {
        display: flex;
        justify-content: center;
        gap: 20px;
        .bigcard1{
            background: #54A6FF;
        }
        .bigcard2{
            
            background: #3563E9;

        }



        >div {
            
            border-radius: 10px;
            width: 640px;
            height: 360px;
           
            position: relative;

            .bigcard_about {
                display: flex;
                flex-direction: column;
                gap: 26px;
                position: absolute;
                top: 24px;
                left: 24px;
                justify-content: center;
                

                h2 {
                    width: 272px;
                }

                p {
                    width: 284px;
                }


                #car1{
                    width: 120px;
                    height: 44px;
                    background: #3563E9;
                    border-radius: 4px;
                    border: 0px;
                }
                #car2{
                    width: 120px;
                    height: 44px;
                    background: #54A6FF;
                    border-radius: 4px;
                    border: 0px;
                }
            }

        }

        .bigcard_img {
            width: 316px;
            height: 116px;
            padding: 234px 97px 0 187px;
        }
           
    }
    .section_selects{
        display: flex;
        justify-content: space-between;
        @include container;
        padding-top:60px;
        padding-bottom: 78px;
        >img{
            width: 100px;
            height: 100px;
        }
        >div{
            display: flex;
            flex-direction: column;
            gap: 18px;
            .pick_up{
                display: flex;
                align-items: center;
                gap: 10px;
                img{
                    width: 16px;
                    height: 16px;
                }
            }
            .selects{
                    display: flex;
                    gap: 50px;
               .select{
                display: flex;
                flex-direction: column;
                gap: 8px;
                >div{
                    display:flex;
                    gap: 10px;
                    align-items: center;
                    img{
                        width: 12px;
                        height: 6px;
                        
                    }
                }
                
               }
        }
    }
    }
    .section_popular_car{
    display: flex;
    flex-direction: column;
    gap: 40px;}
}
