nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .morent{
        display: flex;
        gap: 60px;
        align-items: center;
    }

    .user_profil {
        display: flex;
        gap: 20px;
        align-items: center;

        img {
          
           
           

        }
    }
}
