nav{
    .container{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    ul{
        display: flex;
        justify-content: space-between;
        gap: 20px;
       
        >li{
            transition: 800ms;
            a{
                text-decoration: none;
            color: rgb(124, 125, 126);
            font-size: large;
            font-weight: 300;
            display: flex;
            gap: 5px;
            align-items: center;
            i{
                font-size: medium;
            }
            }
        }
        >li:hover{
            a{
                color: black;
            }
        }
        >:nth-child(1){
            a{
                color:  #bc5148;
            }
        }
        
        >:nth-child(2){
            position: relative;
            transition: 400ms;
            height: 40px;
            ul{
                overflow: hidden;
                top: 40px;
                position: absolute;
                background-color: rgb(255, 255, 255);
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                gap: 0;
                width: 200px;
                
                height: 0;
                li{
                    padding: 5px;
                    width: 100%;
                    color: black;
                    a{
                        font-weight: 400;
                        font-size: medium;
                        color: black;
                    }
                }
                li:hover{
                    background-color: #bc5148;
                }
                
                
            }
        }
        >:nth-child(2):hover{
            ul{
                display: block;
                height: auto;
                padding: 15px 0;
                li{
                    padding: 10px 20px;
                    a{
                        color: rgb(8, 8, 8);
                    }
                    a:hover{
                        color: white;
                    }
                }
            }
        }
    }
    }
}