*{
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 420vh;
    position: relative;
}
a,li{
    text-decoration: none;
    list-style: none;
}
@mixin center{
    display:flex;
    align-items:enter;
    justify-content: center;
}