* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    width: 1360px;
}

a,li {
    text-decoration: none;
    list-style-type: none;
}

.conteiner {
    
    padding: 0 101px 0 101px;

}