header {
    .contact {
        .call {
            p {
                font-family: 'Palanquin', sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 24px;
                letter-spacing: 0em;
                text-align: left;


            }
        }

        .service {
            color: aliceblue;
            font-family: 'Palanquin', sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;

        }
    }

    .logo {
        font-family: 'Palanquin', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 35px;
        line-height: 100%;
    }

    .sign_up {
        font-family: 'Poppins', sans-serif;

        p {
            font-size: 14px;
            font-weight: 500;
            line-height: 16.5px;
        }

    }

    .nav_bags {
        ul {
            a {
                font-family: 'Poppins', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 170%;
                color: #273142;
            }
        }
    }
}

main {
    .section_start {
        .section_left {
            .percentage {
                color: #DF4244;
                font-family: Rubik;
                font-size: 24px;
                font-weight: 500;
                line-height: 41px;
                letter-spacing: 0em;
                text-align: left;
                font-family: 'Rubik', sans-serif;

            }

            h1 {
                font-family: Rubik;
                font-size: 40px;
                font-weight: 700;
                line-height: 68px;
                letter-spacing: 0em;
                text-align: left;
                color: #212121;

            }

            .about {
                font-family: Poppins;
                font-size: 16px;
                font-weight: 400;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: left;
                color: rgba(33, 33, 33, 0.75)
            }

            button {
                font-family: Poppins;
                font-size: 16px;
                font-weight: 500;
                line-height: 27px;
                letter-spacing: 0em;
                text-align: left;

            }

        }
    }
}