*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    section{
        display: flex;
    }
    .card{
        background-color: rgb(41, 5, 88);
        padding: 7px;
        border-radius: 30px 30px 25px 25px;
        .top{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            background-color: rgb(219, 198, 9);
            border-radius: 20px 20px 0 0;
            p{
                font-size: large;
                font-weight: 600;
                padding: 3px 0;

            }
            h2{
                font-size: x-large;
                padding: 7px 0;
            }
            img{
                width: 300px;
                height: 200px;
            }
        }
        .bottom{
            display: flex;
            flex-direction: column;
            gap: 3px;
            background-color: rgb(248, 244, 242);
            border-radius: 0 0 20px 20px;
          
            
            >div{
                display: flex;
                background-color: aqua;
        
                .pug{
                    padding: 3px 5px;
                    width: 50%;
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    color: aliceblue;
                    background-color: rgb(99, 87, 141);
                    border-right: 1px solid white;
                }
                .about{
                    font-size: 13px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    color: aliceblue;
                    padding-top: 3px;
                    text-align:center;
                width: 50%;
                    background-color: blue;
                }
            }
            .end{
                
                border-radius: 0 0 20px 20px;
                background-color: rgb(94, 83, 136);
                .pug{
                    width: 50%;
                    background-color: rgb(95, 99, 163);
                    padding-bottom: 20px;
                    border-radius: 0 0 0 20px;
                }
                .about{
                    width: 50%;
                    background-color: blue;
                    padding-bottom: 20px;
                    border-radius: 0 0 20px 0;
                    }
            }
        }
    }
}
