header {
    .contact {
        
        background: #007878;
        .conteiner{
            height:48px;
            display: flex;
            align-items: center;
           justify-content: space-between;

        .call {
            display: flex;
            align-items: center;
            gap: 10px;
            color: aliceblue;

          

            img {
                height: 22.500003814697287px;
                width: 22.50000572204592px;

                border-radius: 0px;

            }
        }
        .service{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            opacity: 0.8;
            
            
        }
    }
}
}