main {
    width: 100%;

    .conteiner {
        padding: 0 101px 0 101px;

        .section_start {
            display: flex;
            align-items: center;
            justify-content: space-between;


            .section_left {
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;

                .about {
                    height: 81px;
                    width: 353px;

                }

                button {
                    width: 192px;
                    height: 52px;
                   margin-top: 46px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #206363;
                    border-radius: 8px;
                    border: 0;
                    color: #faf4f4;
                }
            }
        }
    }



}