* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1360px;
}

a, li {
  text-decoration: none;
  list-style-type: none;
}

.conteiner {
  padding: 0 101px 0 101px;
}

header .contact .call p {
  font-family: "Palanquin", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
header .contact .service {
  color: aliceblue;
  font-family: "Palanquin", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
header .logo {
  font-family: "Palanquin", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 100%;
}
header .sign_up {
  font-family: "Poppins", sans-serif;
}
header .sign_up p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.5px;
}
header .nav_bags ul a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #273142;
}

main .section_start .section_left .percentage {
  color: #DF4244;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  font-family: "Rubik", sans-serif;
}
main .section_start .section_left h1 {
  font-family: Rubik;
  font-size: 40px;
  font-weight: 700;
  line-height: 68px;
  letter-spacing: 0em;
  text-align: left;
  color: #212121;
}
main .section_start .section_left .about {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(33, 33, 33, 0.75);
}
main .section_start .section_left button {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

header .contact {
  background: #007878;
}
header .contact .conteiner {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .contact .conteiner .call {
  display: flex;
  align-items: center;
  gap: 10px;
  color: aliceblue;
}
header .contact .conteiner .call img {
  height: 22.5000038147px;
  width: 22.500005722px;
  border-radius: 0px;
}
header .contact .conteiner .service {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  opacity: 0.8;
}

.nav_sign {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_sign .sign_up {
  display: flex;
  align-items: center;
}
.nav_sign .sign_up ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
}
.nav_sign .sign_up ul li {
  display: flex;
  gap: 10px;
  align-items: center;
}
.nav_sign .sign_up ul li img {
  height: 24px;
  width: 20.3076553345px;
  left: 1.8466796875px;
  border-radius: 0px;
}

.nav_bags {
  margin-top: 35px;
  display: flex;
  align-items: center;
}
.nav_bags ul {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav_bags ul li {
  height: 27px;
  width: 110px;
}

header {
  gap: 35px;
  height: 220px;
  border-bottom: 1px solid rgba(39, 49, 66, 0.15);
  border-radius: 0px;
  display: flex;
  flex-direction: column;
}

main {
  width: 100%;
}
main .conteiner {
  padding: 0 101px 0 101px;
}
main .conteiner .section_start {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .conteiner .section_start .section_left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
main .conteiner .section_start .section_left .about {
  height: 81px;
  width: 353px;
}
main .conteiner .section_start .section_left button {
  width: 192px;
  height: 52px;
  margin-top: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #206363;
  border-radius: 8px;
  border: 0;
  color: #faf4f4;
}

header .nav_sign form {
  position: relative;
}
header .nav_sign form .search {
  width: 504px;
  height: 48px;
  padding-left: 16px;
  align-items: center;
  display: flex;
  font-size: 16px;
  background-color: #F7F9FC;
  border-radius: 8px;
  border: 0;
}
header .nav_sign form img {
  position: absolute;
  height: 24px;
  width: 23.1709632874px;
  right: 3%;
  top: 25%;
  border-radius: 0px;
}/*# sourceMappingURL=main.css.map */